---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/tumble-weed/tumble-weed.github.io/master/dark-theme.css" />

    <script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\(","\\)"] ],
    },
		TeX: {
    	Macros: {
				bra: ["\\langle{#1}|", 1],
				ket: ["|{#1}\\rangle", 1],
        braket: ["\\langle{#1}\\rangle", 1],
				bk: ["\\langle{#1}|{#2}|{#3}\\rangle", 3]
    	}
  	}
	});

</script>
<!--
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML' async></script>
-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/latest.js?config=TeX-MML-AM_CHTML' async></script>

<!-- end custom head snippets -->

    <!-- % include head.html % -->
    {% include head/custom.html %}
    

  </head>

  <body>

    <!-- % include browser-upgrade.html % -->
    <!-- % include masthead.html % -->

    {{ content }}

    <div class="page__footer">
      <footer>
        <!-- % include footer/custom.html % -->
        <!-- % include footer.html % -->
      </footer>
    </div>

    <!-- % include scripts.html % -->

  </body>
</html>
